html, body {
   margin : 0;
   padding : 0;
   }

body {
   font : 13px Verdana, sans-serif;
   color : #663300;
   background : #FDFDE0 url(images/tree3.jpg) no-repeat bottom right fixed;
   position: relative;
   width : 100%;
}

a:link {
   color : #669900;
   background : transparent;
   text-decoration : none;
}

a:visited {
   color : #009966;
   text-decoration : none;
}

a:hover {
   color : #006600;
   text-decoration : underline;
  }

a:active {
   color : #669900;
}

h1 {
   text-align : center;
   margin : 0.5em 0.5em 0.5em 0.5em;
   color: #006600;
   font-size: 140%;
   
}

img {
   border : none;
}

#wrap {
   margin : 0 auto ;
   width : 100%;
   position: absolute; top: 0px; left: 0px; right: 0px;
   
   
}

#header {
   background: #99CC99 url(images/header.gif) repeat-y;
   margin : 0;
   height : 100px;
}
#header h1 {
	color: #FDFDE0;
	text-align :left;
	margin: 0;
	padding: 35px 0 0 20px;
	font-size: 200%;
}
	
#content {
   margin : 0;
   padding : 10px 20px 10px 20px;
   
}

#content p {
   margin : 0 240px 6px 0;
   text-align : justify;
}

#right {
   float : right;
   width : 241px;
   margin : 2em 5px 5px 20px;
   padding : 0 0 0 5px;
   background: transparent;

}


 #nav {
   margin: 0;
   background : #669900;
   width : 100%;
   border-bottom : 1px solid #006600;
   border-top: 1px solid #006600;
   border-left : none;
   border-right : 1px solid #006600;
   height:20px;
   
}

#nav ul {
   list-style : none;
   margin : 0;
   padding : 0;
   text-align : center;
}

#nav li {
   display : block;
   float : left;
}

#nav li a {
   color : #FDFDE0;
   display : block;
   width : 95px;
   text-decoration : none;
   background : #669900;
   padding : 2px 10px;
   border-left : 1px solid #006600;
   border-right : none;
}

#nav ul li a:hover {
   color : #FFFFCC;
   background : #006600;
}

#nav a:active	{
   background : #006600;
   color : #FDFDE0;
}

#special {
   border-right : 1px solid #006600;
}


#footer {
   margin : 0 0 10px 20px;
   padding : 0;
   text-align: left;
   
}


